<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eventms.mbp.mapper.EesAttributeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.eventms.mbp.entity.EesAttribute">
        <id column="id" property="id" />
        <result column="attribute_category_id" property="attributeCategoryId" />
        <result column="attribute_category_name" property="attributeCategoryName" />
        <result column="name" property="name" />
        <result column="select_type" property="selectType" />
        <result column="input_type" property="inputType" />
        <result column="input_list" property="inputList" />
    </resultMap>

</mapper>
