<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eventms.mbp.mapper.EesAttributeValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.eventms.mbp.entity.EesAttributeValue">
        <id column="id" property="id" />
        <result column="event_id" property="eventId" />
        <result column="attribute_id" property="attributeId" />
        <result column="value" property="value" />
    </resultMap>

</mapper>
