<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eventms.mbp.mapper.EesCouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.eventms.mbp.entity.EesCoupon">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="quantity" property="quantity" />
        <result column="use_count" property="useCount" />
        <result column="use_type" property="useType" />
        <result column="amount_off" property="amountOff" />
        <result column="percent_off" property="percentOff" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="code" property="code" />
        <result column="event_id" property="eventId" />
        <result column="ticket_ids" property="ticketIds" />
    </resultMap>

</mapper>
