<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eventms.mbp.mapper.EesEventMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.eventms.mbp.entity.EesEvent">
        <id column="id" property="id" />
        <result column="organizer_id" property="organizerId" />
        <result column="venue_id" property="venueId" />
        <result column="title" property="title" />
        <result column="summary" property="summary" />
        <result column="pic" property="pic" />
        <result column="album_pics" property="albumPics" />
        <result column="date" property="date" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="deleted" property="deleted" />
        <result column="status" property="status" />
        <result column="capacity" property="capacity" />
        <result column="is_free" property="isFree" />
        <result column="created" property="created" />
        <result column="changed" property="changed" />
        <result column="publish_time" property="publishTime" />
    </resultMap>

</mapper>
