<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eventms.mbp.mapper.OesRefundItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.eventms.mbp.entity.OesRefundItem">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="order_sn" property="orderSn" />
        <result column="ticket_id" property="ticketId" />
        <result column="created" property="created" />
        <result column="ticket_name" property="ticketName" />
        <result column="order_ticket_price" property="orderTicketPrice" />
        <result column="order_ticket_quantity" property="orderTicketQuantity" />
        <result column="real_amount" property="realAmount" />
        <result column="coupon_amount" property="couponAmount" />
        <result column="quantity_processed" property="quantityProcessed" />
        <result column="amount_processed" property="amountProcessed" />
    </resultMap>

</mapper>
